.navbar{
    padding:20px 0px 0px 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
}
.navbar li{
    cursor: pointer;
}
.navbar-right{
    display:flex;
    align-items: center;
    gap: 40px;

}

 .navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid  #4CAF50;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.navbar button:hover{
    background-color: #fff42f;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 4px solid #fff42f;
}
.navbar-search{
    position: relative;
}
.navbar-search .dot{
    position: absolute;
    min-height: 10px;
    min-height: 10px;
    background-color: #fff42f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: -8px;
    right: -8px;
}